.pesquisa{

    display: flex;
    justify-content: center;
    height: 120px;

}

.button-pesquisa{

    background-color: #DDCCBA
     
}

.Borda{

    height: 500px;
    background-color: #DDCCBA;
    color: #564031;
    display: flex;
}


.barrinha{

    background-color: #564031;

}