
.collapse {
    justify-content: center;
    background-color: #564031;
    color: #DDCCBA;
}

.carousel {
    width: 50%;
    height: 50%;
}

.navbar-brand {
    background-color: #564031;
    color: #DDCCBA;
}

.nav-link{
    color: #DDCCBA;;
}

.imgs {
    width: 50px;
    height: 50px;
}

footer {
	background-color: #DDCCBA;
	color: #564031;
	padding: 20px;
	text-align: center;
	margin-top: auto;
}

ul {
	list-style: none;
    text-align: left;
	padding: 0;
	margin: 0;
}

li {
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

.precabecalho {
    text-align: justify;
    display: flex;
}

.nav-item {
    padding-left:30%;
}

.infos {
    color: #564031;
    text-decoration: none;
}

